package net.codetreats.aoc.dayXX

import net.codetreats.aoc.Day
import net.codetreats.aoc.util.Logger

class DayXX : Day<List<String>>(XX) {
    override val logger: Logger = Logger.forDay(dayOfMonth)

    override val useDummy = true

    override fun convert(input: List<String>): List<String> = input

    override fun run1(data: List<String>): String {
        return ""
    }

    override fun run2(data: List<String>): String {
        return ""
    }
}